:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --footer-background-color: #2f303a;
  --primary-button-text-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

img {
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid teal;
}

/* Header*/
.page-header {
}

.logo {
  font-family: 'Raleway';
  padding: 24px 93px 25px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-dark {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-logo-color);
  text-decoration: none;
}

/* site-nav */
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav-link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/* Menu header contacts */
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* Page Hero */
.page-hero {
  height: 600px;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}

.button {
  font-family: 'Roboto';
  background-color: var(--accent-color);
  color: var(--primary-button-text-color);
}

.button-hero {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-button-text-color);
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

/* Features */
.section-features {
  padding-top: 91px;
}

.features-name,
.projects-title,
.filtr-name {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.features {
}

.features-item {
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-top: 10.5px;
  max-width: 270px;
}

/* Works */
.section-works {
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 92px;
  text-align: center;
}

.works-item {
}

.works-list {
  padding-top: 50px;
}

.work-img {
}

/* Team */
.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 94px;
}

.team-item {
  background-color: #ffffff;
  padding-top: 50px;
}

.team-list {
  padding-top: ;
}

.team-img {
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-top: 10px;
  text-align: center;
}

/* Footer */
.page-footer {
  background-color: var(--footer-background-color);
  height: 252px;
  padding-top: 60px;
}

.logo-light {
  color: #ffffff;
}

.page-address {
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.address-list {
  padding-top: 20px;
}

.address-item-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
}

.address-link:hover,
.address-link:focus,
.address-item-link:hover,
.address-item-link:focus {
  color: var(--accent-color);
}

.page-filtr {
  background-color: #ffffff;
}

.filtr-button {
}

.button-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.pointer.button-link:hover,
.pointer.button-link:focus {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-button-text-color);
  background-color: var(--accent-color);
}

.projects-item {
}

.projects-list {
}

.projects-img {
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
